@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

.sporesbar {
    margin-bottom: 20px;
}

.sporescontainer {
    margin-top: 20px;
    margin-bottom: 20px;
}

.tabbedcontainer .tab-content {
    border-bottom: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.slider-group {
    /* padding-bottom: 5px; */
}

.slider-label {
    font-size: 0.8em;
}

.slider-label label {
    margin-top: -5px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
}

#overview-image {max-width: 100%;}

#slider-storage .rc-slider-track, #slider-storage .rc-slider-handle, #slider-storage .rc-slider-dot-active {background-color: #0440fe; border: none;}
#slider-curtailment .rc-slider-track, #slider-curtailment .rc-slider-handle, #slider-curtailment .rc-slider-dot-active {background-color: #ff7c02; border: none;}
#slider-biofuel .rc-slider-track, #slider-biofuel .rc-slider-handle, #slider-biofuel .rc-slider-dot-active {background-color: #32ce4d; border: none;}
#slider-import .rc-slider-track, #slider-import .rc-slider-handle, #slider-import .rc-slider-dot-active {background-color: #e9111c; border: none;}
#slider-elec-gini .rc-slider-track, #slider-elec-gini .rc-slider-handle, #slider-elec-gini .rc-slider-dot-active {background-color: #933ae2; border: none;}
#slider-fuel-gini .rc-slider-track, #slider-fuel-gini .rc-slider-handle, #slider-fuel-gini .rc-slider-dot-active {background-color: #7f3901; border: none;}
#slider-ev .rc-slider-track, #slider-ev .rc-slider-handle, #slider-ev .rc-slider-dot-active {background-color: #f69adb; border: none;}
#slider-heat .rc-slider-track, #slider-heat .rc-slider-handle, #slider-heat .rc-slider-dot-active {background-color: #ffd85b; border: none;}
#slider-transport .rc-slider-track, #slider-transport .rc-slider-handle, #slider-transport .rc-slider-dot-active {background-color: #58e5fe; border: none;}

.rc-slider-handle:hover {border-color: #1a334c;}

.rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
    border-color: #1a334c;
    box-shadow: 0 0 0 5px #e0e0e0;}
.rc-slider-handle-click-focused:focus {border-color: #1a334c;}

.buttons {margin-bottom: 15px;}

.buttons button {
    margin-right: 5px;
}

table {
    border: 0;
}

th, td {
    padding: 2px 5px 2px 5px;
}

tbody tr th {
    font-weight: normal;
    text-align: right;
}

#help {
    border: 1px solid #0d6efd;
    border-radius: .25rem;
    padding: 10px 20px;
    margin-bottom: 20px;
}

#help summary {
    color: #0d6efd;
}

#help p {
    color: #686868;
}

#help summary + p {
    padding-top: 20px;
}
